.about-area {
  background-color: var(--bg-four);
  padding: 130px 0;
}
.about-area-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-bottom: 70px;
}
.about-left strong {
  color: var(--white-2);
}
.details-info li {
  display: grid;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
  padding-bottom: 2px;
  grid-template-columns: 130px 40px auto;
}

.details-info li strong {
  color: var(--white);
}
.social-resume {
  display: flex;
  margin-top: 30px;
}
.resume-btn {
  margin-top: 40px;
  display: inline-block;
  margin-left: 30%;
}
.resume-btn:hover svg {
  color: var(--black);
}
.about-social-link {
  margin-top: 20px;
}
.about-social-link h6 {
  border-bottom: 2px solid var(--white);
  display: inline-block;
  padding-bottom: 6px;
  font-size: 16px;
  color: var(--white-2);
}
.about-right {
  position: relative;
  overflow: hidden;
}
.about-right .experience-years {
  position: absolute;
  right: 0;
  top: 40%;
  width: 190px;
  height: 190px;
  display: flex;
  color: var(--white);
  padding: 40px;
  font-weight: 700;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  background: var(--orange);
  transform: translateY(-50%);
  z-index: 2;
}
.experience-years b {
  font-size: 50px;
  display: block;
  font-weight: 700;
}
.experience-years h5 {
  font-size: 20px;
  color: var(--white);
  margin-bottom: 0;
  font-weight: 700;
}
.about-btn {
  display: flex;
  align-items: center;
  background: var(--white);
  border-radius: 32px;
  color: var(--black-color);
  padding: 10px 25px 10px 15px;
  position: absolute;
  z-index: 2;
}
.about-btn h6 {
  font-weight: 700;
  color: var(--black-color) !important ;
  margin-bottom: 0;
  margin: 0 15px;
}
.about-btn.one {
  left: 20%;
  top: 26%;
}
.about-btn.two {
  left: 26%;
  top: 50%;
}
.about-btn.three {
  left: 20%;
  bottom: 15%;
}
.about-dot-shape {
  position: absolute;
  z-index: 3;
}
.about-dot-shape.one {
  left: 40%;
  top: 0%;
}
.about-dot-shape.two {
  bottom: 0;
  right: 10%;
}
.about-right .shape-three {
  position: absolute;
  right: 0;
}
.about-right .border-circle {
  position: absolute;
  right: 0;
  top: 0;
}

/* RESPONSIVE */
/* Extra Large / Desktop device */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .about-area {
    padding: 60px 0;
  }
  .about-area-content {
    padding-bottom: 0px;
  }
  .details-info li {
    font-size: 14px;
  }
  .social-resume {
    flex-direction: column;
  }
  .resume-btn {
    margin-top: 20px;
    margin-left: 0%;
  }
  .about-btn {
    padding: 5px 15px 5px 15px;
  }
  .about-btn h6 {
    margin: 0 10px;
    font-size: 14px;
  }
  .about-btn.one {
    left: 0%;
    top: 20%;
  }
  .about-btn.two {
    left: 10%;
    top: 42%;
  }
  .about-btn.three {
    left: 0%;
    bottom: 28%;
  }
  .about-right .experience-years {
    top: 22%;
    width: 170px;
    height: 170px;
  }
  .experience-years h5 {
    font-size: 18px;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
}
/* SM devices */
@media (min-width: 576px) and (max-width: 767px) {
}
/* Mobile device */
@media (max-width: 575px) {
  .about-me-info {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-area {
    padding: 120px 0 50px 0;
  }
}
