.secondary-btn {
  overflow: hidden;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: 250ms all ease-in-out;
  text-transform: uppercase;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  padding: 10px 40px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  outline: none !important;
  border: 1px solid var(--orange);
  letter-spacing: 2px;
}
.secondary-btn::before {
  z-index: -3;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: 0.3s ease-out all;
  background-color: var(--orange);
}
.secondary-btn:hover::before {
  transform: translateX(0);
}

/* RESPONSIVE */
/* Extra Large / Desktop device */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .secondary-btn {
    padding: 7px 30px;
    font-size: 13px;
  }
}

/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .secondary-btn {
    padding: 7px 30px;
    font-size: 12px;
  }
}
/* SM devices */
@media (min-width: 576px) and (max-width: 767px) {
  .secondary-btn {
    padding: 7px 25px;
    font-size: 12px;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .secondary-btn {
    padding: 7px 25px;
    font-size: 11px;
  }
}
