.skill-area {
  padding: 80px 0;
  background: var(--bg-four);
}
.all-skill-imges {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  margin-top: 40px;
}
.skill-item {
  border: 2px solid #ffffff1a;
  border-radius: 100px 0 100px 100px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 120px;
  text-align: center;
  height: 170px;
  width: 170px;
  background: var(--bg-one);
}
.all-skill-imges .skill-item:nth-child(2n) {
  border-radius: 0 100px 100px 100px;
}
.skill-item:hover {
  border-color: var(--orange);
}
.skill-item img {
  height: 60px;
  /* filter: grayscale(1); */
  transition: all 0.4s;
  margin-bottom: 10px;
  margin: 30px 0;
}
.skill-item span {
  font-weight: 700;
  color: #999;
  transition: 0.4s;
}
.skill-item:hover span {
  color: #f6f6f6;
  transition: 0.4s;
}
/* RESPONSIVE */
@media only screen and (max-width: 576px) {
  .skill-area {
    padding: 30px 0;
  }
  .skill-item img {
    height: 30px;
  }
  .skill-item {
    padding: 30px 10px;
    width: 80px;
  }
  .skill-item span {
    font-size: 14px;
  }
  .all-skill-imges {
    grid-template-columns: repeat(4, 1fr);
  }
}
