.copyright {
  background-color: var(--bg-one);
  padding: 20px;
}
.copyright p {
  text-align: center;
  margin: 0;
}

/* RESPONSIVE */
/* Extra Large / Desktop device */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .copyright {
    padding: 10px;
  }
}
/* SM devices */
@media (min-width: 576px) and (max-width: 767px) {
  .copyright {
    padding: 10px;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .copyright {
    padding: 10px;
  }
}
