.secondary-social-area {
  position: relative;
  z-index: 9;
}
.secondary-social-list {
translate: none;
  rotate: none;
  scale: none;
  opacity: 1;
  transform: translate(0px);
}
.secondary-social-area a {
  font-size: 14px;
  font-weight: 500;
  padding: 18px 30px;
  border-radius: 30px;
  text-transform: uppercase;
}
.btn-hover-mask {
  gap: 10px;
  display: inline-flex;
  align-items: center;
  padding: 15px 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 5px;
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  z-index: 1;
}
.btn-hover-mask::after {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange);
  position: absolute;
  content: attr(data-text);
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--white);
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  animation: mask_animation_2 0.7s steps(22) forwards;
}
.secondary-social-area a::after {
  color: var(--black);
  /* background-color: var(--orange); */
  z-index: -1;
}
.secondary-social-area a.linkedin::after {
  background-color: #1275b1;
}
.secondary-social-area a.facebook::after {
  background-color: #1877f2;
}
.secondary-social-area a.twitter::after {
  background-color: #1da1f2;
}
.secondary-social-area a.github::after {
  background-color: #fff;
}
.secondary-social-area a:hover {
  border-color: var(--white);
  background-color: var(--white);
  color: var(--black-2);
}
.btn-hover-mask:hover::after {
  animation: mask_animation 0.7s steps(22) forwards;
}
@keyframes mask_animation {
  0% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  100% {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes mask_animation_2 {
  0% {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  100% {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

.secondary-social-list ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.secondary-social-list li {
  display: inline-block;
  margin-right: 10px;
}
