.testimonial-area {
  padding: 80px 0;
  background-color: var(--bg-four);
  overflow: hidden;
}
.testimonial-area .container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 20px;
  align-items: center;
  overflow: hidden;
}
.single-testimonial {
  transition: 0.5s;
  text-align: center;
  padding: 50px 60px;
  border-radius: 15px;
  background: var(--bg-one);
  border: 1px solid #ffffff1a;
}
.single-testimonial img {
  border-radius: 50px;
}
.client-img svg {
  font-size: 40px;
  color: var(--orange);
  position: absolute;
}
.single-testimonial p {
  margin-top: 8px;
}
.customer-name {
  font-weight: 600;
  color: var(--white);
  font-size: 18px;
}

.testimonial-area .swiper {
  padding: 80px 0 50px 0;
}
.testimonial-area .swiper-button-prev,
.testimonial-area .swiper-button-next {
  height: 40px;
  width: 40px;
  background: var(--white);
  border-radius: 50%;
  color: var(--white);
}
.testimonial-area .swiper-button-prev {
  left: unset !important;
  right: 11% !important;
  top: 7% !important;
}
.testimonial-area .swiper-button-next {
  right: 5% !important;
  top: 7%;
}
.testimonial-area .swiper-button-prev::after,
.testimonial-area .swiper-button-next::after {
  font-size: 16px !important;
  color: var(--black);
}
.testimonial-area .swiper-button-next:hover,
.testimonial-area .swiper-button-prev:hover {
  background: var(--orange);
  transition: 0.3s;
  color: var(--white);
}
.testimonial-area .swiper-button-next:hover::after,
.testimonial-area .swiper-button-prev:hover::after {
  color: var(--white);
}

/* RESPONSIVE */
/* Extra Large / Desktop device */
@media (min-width: 1200px) and (max-width: 1399px) {
  .testimonial-area {
    padding: 70px 0;
  }
  .testimonial-area .swiper-button-prev {
    right: 12% !important;
  }
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .testimonial-area {
    padding: 60px 0;
  }
  .single-testimonial {
    padding: 20px 30px;
  }
  .customer-name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .swiper-slide {
    margin-right: 15px !important;
  }
  .testimonial-area .swiper-button-next {
    right: 5% !important;
    top: 7%;
  }
  .testimonial-area .swiper-button-prev {
    right: 13% !important;
    top: 7% !important;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .testimonial-area {
    padding: 50px 0;
  }
  .single-testimonial {
    padding: 15px;
  }
  .customer-name {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .swiper-slide {
    margin-right: 15px !important;
  }
  .testimonial-area .swiper-button-next {
    right: 5% !important;
    top: 7%;
  }
  .testimonial-area .swiper-button-prev {
    right: 15% !important;
    top: 7% !important;
  }
}
/* SM devices */
@media (min-width: 576px) and (max-width: 767px) {
  .testimonial-area {
    padding: 40px 0;
  }
  .testimonial-area .container {
    grid-template-columns: 100%;
  }
  .testimonial-area .swiper {
    padding: 50px 0 10px 0;
  }
  .single-testimonial {
    padding: 15px;
    margin: 8px 0;
  }
  .testimonial-area .swiper {
    padding: 10px 0;
    margin-top: -10px;
  }
  .client-img img {
    height: 60px;
  }
  .client-img svg {
    font-size: 25px;
  }
  .customer-name {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .swiper-slide {
    margin-right: 15px !important;
  }
  .testimonial-area .swiper-button-prev {
    display: none;
  }
  .testimonial-area .swiper-button-next {
    display: none;
  }
}

/* Mobile device */
@media (max-width: 575px) {
  .testimonial-area {
    padding: 40px 0 10px 0;
  }
  .testimonial-area .container {
    grid-template-columns: 100%;
  }
  .testimonial-area .swiper {
    padding: 10px 0;
    margin-top: -10px;
  }
  .single-testimonial {
    padding: 15px;
  }
  .single-testimonial p {
    margin: 8px 0;
  }
  .client-img img {
    height: 60px;
  }
  .client-img svg {
    font-size: 25px;
  }
  .customer-name {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .swiper-slide {
    margin-right: 15px !important;
  }
  .testimonial-area .swiper-button-prev {
    display: none;
  }
  .testimonial-area .swiper-button-next {
    display: none;
  }
}
