.social-list {
  margin-top: 5px;
}

.social-list ul li {
  display: inline-block;
  margin-right: 9px;
}

.social-list ul li a {
  color: var(--white);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  line-height: 30px;
  overflow: hidden;
  transition: width 0.4s ease 0s, background 0.4s ease 0s;
  position: relative;
  text-transform: uppercase;
}

.social-list ul li:hover a {
  width: 100px;
  text-align: left;
  border-radius: 50px;
}

.social-list ul li svg {
  left: 8px;
  top: 8px;
  float: left;
  position: absolute;
  transition: all 0.8s ease 0s;
  font-size: 13px;
  font-weight: 600;
}

.social-list ul li:hover svg {
  transform: rotate(360deg);
  line-height: 12px;
}

.social-list span {
  font-size: 13px;
  color: var(--white);
  text-transform: capitalize;
  position: absolute;
  top: -1px;
  left: 30px;
  text-align: left;
  transition: left 0.5s ease 0s, opacity 0.5s ease 0s;
  opacity: 0;
  font-weight: 700;
}
.social-list:hover span {
  opacity: 1;
}
.facebook {
  background: #1877f2;
}
.linkedin {
  background: #1275b1;
}
.twitter {
  background: #1da1f2;
}
.github {
  background: #b9b9b9;
}
