.banner-area {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */
  /* background: linear-gradient(
    90deg,
    #07233b 1.67%,
    #041d34 39.95%,
    #04192d 58.24%,
    #040e18 80.28%,
    #050c16 101.48%
  ); */
  /* background-image: url(../../../assets//banner/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  background-color: var(--bg-one);
}
.banner-content {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.banner-img {
  /* position: relative; */
}
.banner-img img {
  /* height: 630px; */
  border-radius: 50%;
  /* border: 10px solid #0788ff; */
  position: relative;
}
.banner-img::before {
  position: absolute;
  content: "";
  left: 10%;
  bottom: 20%;
  width: 600px;
  height: 600px;
  background: var(--orange);
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: 0;
  -webkit-animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }

  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }

  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

/* .banner-img {
  position: relative;
}
.banner-img img::after {
  content: "";
  width: 612px;
  height: 328px;
  position: absolute;
  top: 120px;
  right: -48px;
  background: #fd562a;
  transform: rotate(-35deg);
  z-index: -1;
  animation: anim-rotate 8s infinite;
  border-radius: 10px;
} */
.slider-btn {
  margin: 40px 0;
}
.slider-btn button {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: 2px solid #fe5000;
  border-radius: 30px;
  padding: 10px 30px;
  background-color: #333;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
  transition: 0.3s;
  text-transform: capitalize;
  margin-right: 20px;
}
button a {
  text-decoration: none;
  color: #fff;
}
.welcome-text {
  /* font-size: 20px; */
  font-weight: 500;
  color: #fff;
  /* background-color: #05345f; */
  display: inline-block;
  /* padding: 2px 20px; */
}
.welcome-text img {
  height: 30px;
  margin: -9px 8px 0 0;
}
/* Hand animation */
.hero-hand-shake {
  animation: hand-shake 1s ease-in-out infinite;
}
@keyframes hand-shake {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
.dev-name {
  font-size: 70px;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
}
.dev-name span {
  color: transparent;
  -webkit-text-stroke: 1px #d0d6f5;
}
/* Text animation */
.text-animation {
  display: flex;
}
.animated-text {
  color: var(--blue);
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}
.animated-text span {
  color: #0788ff;
}
.cta-text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  color: var(--orange) !important;
  letter-spacing: 1px;
  position: relative;
  /* animation-delay: 0.9s; */
  /* animation-duration: 1s; */
}
.cta-text:hover {
  color: #ff5746;
}
.cta-text svg {
  font-size: 25px;
  transform: translateY(-2px);
}
.cta-text::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--orange);
  transition: all 0.3s ease-out;
}
.cta-text:hover::after {
  width: 100%;
}
.banner-social span {
  color: #fff;
  text-transform: uppercase;
  background: #0788ff;
  padding: 10px 25px;
  font-weight: 600;
  margin-right: 15px;
  border-radius: 0 40px 40px 0;
}
.banner-social {
  display: flex;
  margin-top: 30px;
}
/* @keyframes anim-rotate {
  100% {
    transform: rotate(-35deg) scale(1.1);
  }
} */
@media only screen and (max-width: 576px) {
  .banner-area {
    text-align: center;
  }
  .banner-img {
    text-align: center;
    margin-top: 90px;
  }
  .banner-img img {
    height: 300px;
    width: 300px;
  }
  .banner-text {
    background: #081828;
  }
  .banner-text h3 {
    font-size: 32px;
    line-height: 35px;
  }
  .slider-btn {
    margin: 15px 0;
  }
  .slider-btn button {
    font-size: 14px;
    padding: 5px 18px;
  }
  .banner-social {
    justify-content: center;
  }
  .social-icon li a {
    width: 30px;
    height: 30px;
    line-height: 25px;
  }
  .banner-social span {
    margin-top: 0px;
  }
  .banner-text p::after {
    left: 20%;
  }
}
