.banner-area {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */
  /* background: linear-gradient(
    90deg,
    #07233b 1.67%,
    #041d34 39.95%,
    #04192d 58.24%,
    #040e18 80.28%,
    #050c16 101.48%
  ); */
  background-image: url(../../../assets//banner/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.banner-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.banner-img img {
  /* height: 630px; */
  border-radius: 50%;
  border: 10px solid #0788ff;
}
/* .banner-img {
  position: relative;
}
.banner-img img::after {
  content: "";
  width: 612px;
  height: 328px;
  position: absolute;
  top: 120px;
  right: -48px;
  background: #fd562a;
  transform: rotate(-35deg);
  z-index: -1;
  animation: anim-rotate 8s infinite;
  border-radius: 10px;
} */
.slider-btn {
  margin: 40px 0;
}
.slider-btn button {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: 2px solid #fe5000;
  border-radius: 30px;
  padding: 10px 30px;
  background-color: #333;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
  transition: 0.3s;
  text-transform: capitalize;
  margin-right: 20px;
}
button a {
  text-decoration: none;
  color: #fff;
}
.welcome-text {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background-color: #05345f;
  display: inline-block;
  padding: 2px 20px;
}
.welcome-text img {
  height: 30px;
  margin: -9px 8px 0 0;
}
/* Hand animation */
.hero-hand-shake {
  animation: hand-shake 1s ease-in-out infinite;
}
@keyframes hand-shake {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

/* Text animation */
.text-animation {
  display: flex;
}
.animated-text {
  color: #0788ff;
  font-size: 55px;
  font-weight: 700;
  color: #fff;
}
.animated-text span {
  color: #0788ff;
}

.banner-social span {
  color: #fff;
  text-transform: uppercase;
  background: #0788ff;
  padding: 10px 25px;
  font-weight: 600;
  margin-right: 15px;
  border-radius: 0 40px 40px 0;
}
.banner-social {
  display: flex;
}

/* @keyframes anim-rotate {
  100% {
    transform: rotate(-35deg) scale(1.1);
  }
} */
@media only screen and (max-width: 576px) {
  .banner-area {
    text-align: center;
  }
  .banner-img {
    text-align: center;
    margin-top: 90px;
  }
  .banner-img img {
    height: 300px;
    width: 300px;
  }
  .banner-text {
    background: #081828;
  }
  .banner-text h3 {
    font-size: 32px;
    line-height: 35px;
  }
  .slider-btn {
    margin: 15px 0;
  }
  .slider-btn button {
    font-size: 14px;
    padding: 5px 18px;
  }
  .banner-social {
    justify-content: center;
  }
  .social-icon li a {
    width: 30px;
    height: 30px;
    line-height: 25px;
  }
  .banner-social span {
    margin-top: 0px;
  }
  .banner-text p::after {
    left: 20%;
  }
}
