.contact-area {
  background: var(--bg-four);
  padding: 120px 0;
}
.contact-area .container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.name-email {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 12px;
  overflow: hidden;
}
.contact-form input {
  border-radius: 0;
  border: 1px solid var(--gray);
  transition: all 0.5s;
  background-color: transparent;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--title-color);
  opacity: 0.5;
}
.contact-form .form-control:focus {
  border-color: var(--orange);
  outline: 0;
  box-shadow: none;
  background: transparent;
  color: var(--title-color);
}
.contact-form textarea {
  border-radius: 0;
  border: 1px solid var(--gray);
  background-color: transparent;
}
.btn-submit svg {
  font-size: 20px;
}
/* RESPONSIVE */
@media only screen and (max-width: 576px) {
  .contact-area {
    padding: 25px 0;
  }
}
