.contact-area {
  background: var(--bg-four);
  padding: 80px 0;
}
.contact-area .container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
  /* overflow: hidden; */
}
.contact-form .form-control {
  width: 96%;
  color: var(--white);
}
.contact-form svg {
  font-size: 20px;
  margin-right: 5px;
  margin-bottom: 3px;
}
.name-email {
  display: grid;
  grid-template-columns: 48% 47%;
  grid-column-gap: 18px;
  overflow: hidden;
}
.contact-form input {
  border-radius: 0;
  border: 1px solid var(--gray);
  transition: all 0.5s;
  background-color: transparent;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--title-color);
  opacity: 0.5;
}
.contact-form .form-control:focus {
  border-color: var(--orange);
  outline: 0;
  box-shadow: none;
  background: transparent;
  color: var(--title-color);
}
.contact-form textarea {
  border-radius: 0;
  border: 1px solid var(--gray);
  background-color: transparent;
}
.btn-submit svg {
  font-size: 17px;
  margin-left: 5px;
}
.btn-submit {
  overflow: hidden;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
  text-transform: uppercase;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  padding: 10px 40px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  outline: none !important;
  border: 1px solid var(--orange);
  letter-spacing: 2px;
}
.btn-submit::before {
  z-index: -3;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(100%);
  transition: 0.3s ease-out all;
  background-color: var(--orange);
}
.btn-submit:hover::before {
  transform: translate(0);
}
.btn-submit button {
  background: top;
  border: navajowhite;
  color: var(--white);
  text-transform: unset;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}
.contact-form .alert-success {
  background: #11b823 !important;
  border: navajowhite;
  border-radius: 0;
  color: var(--white);
  padding: 7px 20px;
  display: inline-block;
  font-size: 14px;
}

/* RESPONSIVE */
/* Extra Large / Desktop device */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-area {
    padding: 60px 0;
  }
  .contact-form .form-control {
    font-size: 15px;
  }
  .name-email {
    grid-column-gap: 14px;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .contact-area {
    padding: 50px 0;
  }
  .contact-form .form-control {
    font-size: 15px;
  }
  .name-email {
    grid-column-gap: 10px;
  }
}
/* SM devices */
@media (min-width: 576px) and (max-width: 767px) {
  .contact-area {
    padding: 40px 0;
  }
  .contact-area .container {
    grid-template-columns: 100%;
  }
  .contact-form .form-control {
    font-size: 15px;
  }
  .name-email {
    grid-column-gap: 15px;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .contact-area {
    padding: 40px 0;
  }
  .contact-area .container {
    grid-template-columns: 100%;
  }
  .contact-form .form-control {
    font-size: 15px;
  }
  .name-email {
    grid-column-gap: 12px;
  }
  .btn-submit {
    padding: 8px 25px;
    font-size: 14px;
  }
}
