@import url("https://fonts.googleapis.com/css2?family=Macondo,family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* --bg-one: #0f183e; */
  --bg-one: #26272e;
  --bg-two: #002d3e;
  --bg-three: #0f1d22;
  /* --bg-four: #0c252b; */
  --bg-four: #212228;
  --bg-five: #182146;
  --bg-six: #37384c;
  --white: #ffffff;
  --white-2: #f6f6f6;
  --white-3: #ffeded;
  --white-4: #eee;
  --black: #070707;
  --black-2: #252629;
  --black-3: #222326;
  --black-4: #1c1d20;
  --gray: #999;
  --gray-2: #333;
  --blue: #0788ff;
  /* --orange: #ff5746; */
  --orange: #ff3d4f;
  --title-color: #f6f6f6;
  --title-color-2: #37384c;
  --orange-two: #ff3d4f;
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
* {
  /* cursor: none; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-one) !important;
  font-family: var(--font-inter);
}
h1 {
  font-size: 70px !important;
  line-height: 1 !important;
}

h2 {
  font-size: 42px;
  line-height: 1.3380952381;
}

h3 {
  font-size: 32px;
  line-height: 1.3833333333;
}

h4 {
  font-size: 28px;
  line-height: 1.3380952381;
}

h5 {
  font-size: 24px;
  line-height: 1.3380952381;
}

h6 {
  font-size: 18px;
  line-height: 1.2380952381;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white-2);
  font-family: var(--font-roboto);
  font-weight: 600;
}
p {
  font-family: var(--font-inter);
  color: var(--gray);
  line-height: 1.8;
  margin-bottom: 5px;
  hyphens: auto;
  word-break: break-word;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  outline: none;
  color: inherit;
}
a:hover {
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}
ol {
  counter-reset: counter;
  padding-left: 0;
}

ol li {
  list-style: none;
  margin-bottom: 1rem;
}
.container {
  overflow: hidden;
}
/* CSS for shape */
.shape-two {
  animation: tp_zoom_in_out 2s linear infinite;
  text-align: center;
  position: absolute;
  top: 0;
  right: -10%;
}

@keyframes tp_zoom_in_out {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.7);
  }
}
.shape-three,
.shape-four,
.shape-five {
  animation: tp_zoom_in_out 2s linear infinite;
  text-align: center;
}

/* RESPONSIVE */
/* Extra Large / Desktop device */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  p {
    font-size: 15px;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  p {
    font-size: 15px;
  }
}
/* SM devices */
@media (min-width: 576px) and (max-width: 767px) {
  p {
    font-size: 15px;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  p {
    font-size: 15px;
  }
}
