.section-title-container span {
  padding: 7px 30px;
  font-size: 15px;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  border-radius: 30px;
  border: 2px solid var(--orange);
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--white-2);
  font-family: "Macondo", cursive;
  text-transform: capitalize;
}
.section-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 20px 0;
  color: var(--white-2);
}

/* RESPONSIVE */
/* Extra Large / Desktop device */
@media (min-width: 1200px) and (max-width: 1399px) {
}
/* Large device */
@media (min-width: 992px) and (max-width: 1199px) {
  .section-title {
    font-size: 40px;
  }
  .section-title-container span {
    font-size: 14px;
  }
}
/* MD device */
@media (min-width: 768px) and (max-width: 991px) {
  .section-title {
    font-size: 32px;
  }
  .section-title-container span {
    font-size: 13px;
  }
}
/* SM devices */
@media (min-width: 576px) and (max-width: 767px) {
  .section-title {
    font-size: 26px;
  }
  .section-title-container span {
    font-size: 13px;
  }
}
/* Mobile device */
@media (max-width: 575px) {
  .section-title {
    font-size: 24px;
  }
  .section-title-container span {
    font-size: 12px;
  }
}
