.section-title-container span {
  padding: 7px 30px;
  font-size: 15px;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  border-radius: 30px;
  border: 2px solid var(--orange);
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--white-2);
  font-family: "Macondo", cursive;
  text-transform: capitalize;
}
.section-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 20px 0;
  color: var(--white-2);
}
